backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
blinker==1.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Cython==3.0.12
dateparser==1.1.1
Flask==3.0.3
frozendict==2.4.6
GoogleNews==1.6.2
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==1.24.4
pandas==2.0.3
peewee==3.17.9
platformdirs==4.3.6
python-dateutil==2.8.2
pytz==2025.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests==2.32.3
scipy==1.10.1
six==1.16.0
soupsieve==2.3.2.post1
tzdata==2022.1
tzlocal==4.2
urllib3==2.2.3
Werkzeug==3.0.6
yfinance==0.2.54
zipp==3.20.2
